kfp[kubernetes]
boto3
botocore
onnx
onnxruntime
# If you don't do this... numpy 2.0 will be installed and it's not compatible with onnxruntime
numpy==1.24.3; python_version<"3.12"
numpy>=1.26.0; python_version>="3.12"
protobuf==4.21.12; python_version<"3.12"
protobuf==4.25.1; python_version>="3.12"
scikit-learn==1.5.0
pandas==2.2.2
kubernetes